body {
    box-sizing: border-box;
}
.container {
    background-color: gray;
    display: grid;
    grid-template-rows: repeat(16, auto);
    grid-template-columns: repeat(16, auto);
    /* grid-auto-flow: row; */
    justify-content: center;
    align-items: center;
    grid-row-gap: 0;
    padding: 2rem;
}

ul {
   text-align: center;
   padding: 0;
}

.nav-btns {
    list-style-type: none;
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}
}

.square-box {
    display: grid;
    height: 30px;
    width: 30px;
    border: gray .5px solid;
    background-color: white;
}

.hovering {
background-color: #ffc600;
}
